//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
      ul 
        div#logo
          img(src="/static/logo.png", height="30px", width="30px")
          | DA
        li #[a Home ]
        li #[a About ]
        li #[a Services ]
        li #[a Pricing]
        li #[a Contact Us]

    section#introSection 
      div Welcome To Dance Academy!
      div.small Eat Sleep Dance Repeat 

    section#ourMissionSection 
      h2 Our Mission 
      div#cardgrid
        div.div1
          h3 Dance Perfection 
            div.card-box
                div.card-img
                    img(src="/static/dance1.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.div2
          h3 Dance The Way You Like
            br
            br
            img(src="/static/5019042.jpg", alt="", height="auto", width="225px")
        div.div3
          h3 Expert Teaching
            br
            br
            img(src="/static/4210375.jpg", alt="", height="auto", width="150px")


    section#sponsorSection 
      h2 Our Sponsors
        div.simg 
          img(src="/static/adidas.png", alt="") 
          img(src="/static/aon.png", alt="") 
          img(src="/static/bosch.png", alt="") 
          img(src="/static/fuji.png", alt="") 
          img(src="/static/vi.png", alt="") 
          img(src="/static/yamaha.png", alt="") 
          img(src="/static/steady.png", alt="") 
          img(src="/static/red.png", alt="")
          img(src="/static/nike.png", alt="") 
        

    footer#footer   
      | Copyright @ 2022 DanceAcademy.com. All Rights Reserved.     

    script
      include ../static/script.js